<!-- On inclus le contenu dans un row et une colonne pour limiter la largeur -->
<div class="container">
	<div class="row">
		<div class="col-6 mx-auto">
			<!-- Le titre de la page -->
			<h3 class="card-title text-center m-4">User access</h3>

			<!-- Zone du formulaire -->
			<%= form_for(:session, url: session_index_path) do |f| %>

			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :remember_me, class: "checkbox inline" do %>
			<%= f.check_box :remember_me %>
			<span>Remember me on this computer</span>
			<% end %>

			<%= f.submit "Log in", class: "btn btn-primary form-control" %>
			<% end %>

			<p>New user? <%= link_to "Sign up now!", new_user_path %></p>

		</div>
	</div>
</div>
